[submodule "reference-implementations/komihash_4_3/komihash"]
	path = reference-implementations/komihash_4_3/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "reference-implementations/komihash_4_7/komihash"]
	path = reference-implementations/komihash_4_7/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "reference-implementations/wyhash_final_3/wyhash"]
	path = reference-implementations/wyhash_final_3/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "reference-implementations/murmur3_128/smhasher"]
	path = reference-implementations/murmur3_128/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "reference-implementations/murmur3_32/smhasher"]
	path = reference-implementations/murmur3_32/smhasher
	url = https://github.com/aappleby/smhasher
[submodule "reference-implementations/xxh3/xxHash"]
	path = reference-implementations/xxh3/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "reference-implementations/farmhash_uo/farmhash"]
	path = reference-implementations/farmhash_uo/farmhash
	url = https://github.com/google/farmhash.git
[submodule "reference-implementations/farmhash_na/farmhash"]
	path = reference-implementations/farmhash_na/farmhash
	url = https://github.com/google/farmhash.git
[submodule "reference-implementations/wyhash_final_4/wyhash"]
	path = reference-implementations/wyhash_final_4/wyhash
	url = https://github.com/wangyi-fudan/wyhash.git
[submodule "reference-implementations/komihash_5_0/komihash"]
	path = reference-implementations/komihash_5_0/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "reference-implementations/polymur-hash_2_0/polymur-hash"]
	path = reference-implementations/polymur-hash_2_0/polymur-hash
	url = https://github.com/orlp/polymur-hash.git
[submodule "reference-implementations/komihash_5_10/komihash"]
	path = reference-implementations/komihash_5_10/komihash
	url = https://github.com/avaneev/komihash.git
[submodule "reference-implementations/xxh3_128/xxHash"]
	path = reference-implementations/xxh3_128/xxHash
	url = https://github.com/Cyan4973/xxHash.git
[submodule "reference-implementations/komihash_5_27/komihash"]
	path = reference-implementations/komihash_5_27/komihash
	url = https://github.com/avaneev/komihash.git
