# folders
/.gradle/
/build/
/benchmark-results/
/bin/
/.idea/
/.vs/
/.classpath
/.project
/.settings/
/.venv/
/test-results/hyperloglog-estimation-error-p??-maximum-likelihood.png
/test-results/ultraloglog-estimation-error-p??-maximum-likelihood.png
/test-results/ultraloglog-estimation-error-p??-optimal-FGRA.png
/test-results/ultraloglog-estimation-error-p??-default.png
/test-results/ultraloglog-estimation-error-p??-martingale.png
/test-results/hyperloglog-estimation-error-p??-default.png
/test-results/hyperloglog-estimation-error-p??-martingale.png
/test-results/hyperloglog-estimation-error-p??-small-range-corrected-raw.png
/test-results/hyperloglog-estimation-error-p??-corrected-raw.png
/reference-implementations/calculate_checksums
/reference-implementations/farmhash.o
/reference-implementations/farmhash_na_checksum_config.o
/reference-implementations/farmhash_uo_checksum_config.o
/reference-implementations/farmna.a
/reference-implementations/farmuo.a
